


<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Shalet Blog</h1>
    <p class="lead"> This website helps you to add new articles and read articles.</p>
    <hr class="my-4">
  </div>
</div>